###> symfony/framework-bundle ###
APP_ENV=dev
APP_DEBUG=1
APP_SECRET=changeme
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Exemple MySQL / MariaDB
DATABASE_URL="mysql://db_user:db_password@127.0.0.1:3306/medoil"
# Exemple PostgreSQL
# DATABASE_URL="postgresql://db_user:db_password@127.0.0.1:5432/db_name?serverVersion=15&charset=utf8"
###< doctrine/doctrine-bundle ###

###> symfony/mailer ###
MAILER_DSN=smtp://user:pass@smtp.example.com:587
###< symfony/mailer ###

###> sendinblue ###
#SENDINBLUE_API_KEY=changeme
###< sendinblue ###
