<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->
<div id="front">
    <div class="site-header">
        <div class="right">
            <a  href="{{ path('login') }}" role="button" style="color: white"
            >
                <i class="fa fa-user fa-lg"   aria-hidden="true"></i>

            </a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-4">
                    <div id="templatemo_logo">
                        <h1><a href="#">Beecoders</a></h1>
                    </div> <!-- /.logo -->
                </div> <!-- /.col-md-4 -->
                <div class="col-md-8 col-sm-6 col-xs-4">
                    <a href="#" class="toggle-menu"><i class="fa fa-bars"></i></a>
                    <div class="main-menu">

                    </div> <!-- /.main-menu -->
                </div> <!-- /.col-md-8 -->
            </div> <!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="responsive">
                        <div class="main-menu">

                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /.container -->
    </div> <!-- /.site-header -->
</div> <!-- /#front -->
<div class="site-slider">

</div> <!-- /.site-slider -->